# Python related
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
*.env.*
*.swp
*~
*.log
*.pot
*.pyc

# Django related
db.sqlite3
/media
/static
*.log

# Virtual Environment
venv/
.env/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Visual Studio Code
.vscode/

# JetBrains (PyCharm, IntelliJ)
.idea/

# Node related
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
package-lock.json
yarn.lock

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Directories
node_modules/
dist/
dist-ssr/
*.local

# Testing
coverage/
*.lcov
*.html

# Production
build/

# Misc
.vscode/
*.pem
*.key

# Neovim related
.swap/
.session/
view/
.undodir/
*.swp
*.swo
*.swn
*.tmp
*.temp
*~

# Tag files
tags
.tags

# Backup files
*.bak
*.backup

# ENVIRONMENTS
.env

# Ignore configuration files
backend/config/cors-config.json
